<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achievements - Estifanos Addisu Yimer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/cv">CV</a>
            <a href="/publications">Publications</a>
            <a href="/achievements">Achievements</a>
            <a href="/certificates">Certificates</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Achievements</h2>
            <ul>
                <li>Secured a four years PhD funding from a competitive funding firm (Fonds Wetenschappelijk Onderzoek - FWO) [cite: 90]</li>
                <li>Won two competitive funding's to organize the first drought and nature-based solutions symposium and workshop which was organized successfully and made it to the Brussels newspaper [cite: 90]</li>
                 <li>Supervised 11 master’s students in the past four years and help PhD researchers from the department. [cite: 90]</li>
                <li>Gave guest lecture on geohydrological modelling using SWAT+gwflow at IHE Delft [cite: 91]</li>
                <li>Gave course on state of the art drought analysis at the HydroR summer school in Ljubljana, Slovenia. [cite: 91]</li>
                <li>Convened a session on nature-based solutions for hydroclimatic extremes on the European Geoscience Union conference (idea synthesis, organization, and leading the session) [cite: 92]</li>
                <li>My paper was featured in a nature-based solution platform (link to the platform) [cite: 92]</li>
                <li>Driving licence: I have a valid category B auto driving license [cite: 92]</li>
            </ul>
        </section>
    </main>
</body>

</html>